body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #7434b3;
}

.gallery {
    width: 560px;
    height: 350px;
    position: relative;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.gallery img {
    width: 100%;
    height: 100%;
    position: sticky;
    left: 0;
    flex-shrink: 0;
    object-fit: cover;
    scroll-snap-align: stars;
    scroll-snap-stop: always;
    border-radius: 10px;
}

.gallery::-webkit-scrollbar {
    display: none;
}